@use '../../scss/util' as u;

.landing-section {
    padding: 5rem 0 2rem 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include u.breakpoints(xlarge) {
        height: fit-content;
        gap: 3rem;
    }

    .mobile-image {
        display: block;

        @include u.breakpoints(xlarge) {
            display: none;
        }
    }

    .desktop-image {
        display: none;

        @include u.breakpoints(xlarge) {
            margin-bottom: 5rem;
            display: block;
        }
    }

    .buttons {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        @include u.breakpoints(xlarge) {
            gap: 2rem;
        }
    }

}
