$blue: #62A1EB;
$darkBlue: #4386A9;
$semiLightBlue: #79C6EE;
$semiBlue: #8AC0E2; 
$lightestBlue: #E7F0F8;
$white: #FFF;
$lightGrey: #F7F7F7;
$lighterGray: #EBEBEB;
$black: #232323;
$semiBlack: #2E2E2E;
$grey: #898989;
