// Blue Shades
$blue: #62A1EB;
$darkBlue: #4386A9;
$darkestBlue: #0089A7;
$blueWhite: #AED1EA;
$semiLightBlue: #79C6EE;
$semiBlue: #8AC0E2; 
$lightestBlue: #E7F0F8;

// White Shades
$white: #FFF;
$lightWhite: #EAFAFF;

// Black Shades
$semiBlack: #2E2E2E;
$successBlack: #4A4A4A;
$black: #232323;

// Grey Shades
$lighterGray: #EBEBEB;
$lightGrey: #F7F7F7;
$semiGray: #D9D9D9;
$grey: #898989;
$darkestGray: #797979;

$errorRed: #E52F2F;
$lightPink: #FFEDED;
