@use '../../scss/util' as u;

.radio-buttons {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    .radio-group {
        width: 100%;
        display: flex;
        gap: 1rem;
    }

    .radio-group-text{
        width: 100%;
        font-size: 1.125em;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .radio-text-error {
        color: u.$errorRed;
    }
    
    .radio-input {
        cursor: pointer;
    }

    .radio-label {
        font-size: 1em;
        font-weight: 400;
    }

}