@use '../../scss/util' as u;

.grey {
    background-color: u.$lightGrey;
}

header {

    padding: 1rem 0;
    display: flex;
    gap: 4.5rem;

    .back-button {
        font-size: 1.25em;
        padding-inline: 1rem;
        background: transparent;
        border: none;
        cursor: pointer;

        @include u.breakpoints(xlarge) {
            aspect-ratio: 1 / 1;
            margin-left: 3rem;
            background-color: u.$semiGray;
            border-radius: 50%;
        }
    }

    .header-texts {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        justify-content: center;
        align-items: center;

        @include u.breakpoints(xlarge) {
            width: 100%;
        }
    }

    .hidden {
        @include u.breakpoints(xlarge) {
            display: none;
        }
    }

    .header-text {
        font-size: 1em;
        font-weight: 700;
        color: u.$black;

        @include u.breakpoints(xlarge) {
            font-size: 2.125em;
        }
    }

    .step-text {
        font-size: .875em;
        color: u.$grey;
        font-weight: 400;
    }

    .controller {
        display: none;

        @include u.breakpoints(xlarge) {
            margin-top: 1rem;
            width: 100%;
            height: 100%;
            display: flex;
            gap: 3rem;
            justify-content: center;
            align-items: flex-end;
        }

        .controller-span {
            padding-bottom: .5rem;
            font-size: 1.25em;
            font-weight: 700;
            cursor: pointer;

            &:hover {
                border-bottom: 2px solid black;
            }
        }
    }

}