@use '../../scss/util' as u;

.upload-image-container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: u.$lightestBlue;
    border: 2px dashed u.$darkBlue;
    border-radius: .5rem;

    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .camera-icon {
        margin-bottom: 1rem;
        cursor: pointer;

        @include u.breakpoints(xlarge) {
            display: none;
        }
    }

    .upload-image-text {
        padding: 0 6rem;
        width: fit-content;
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        color: u.$darkBlue;

        @include u.breakpoints(xlarge) {
            display: none;
        }
    }

    .upload-image-text-desktop {
        display: none;

        @include u.breakpoints(xlarge) {
            margin-bottom: 3rem;
            padding-inline: 25rem;
            display: block;
            font-size: 1.25em;
            font-weight: 500;
            color: u.$darkBlue;
            text-align: center;
        }
    }

    .upload-image-span {
        display: none;

        @include u.breakpoints(xlarge) {
            display: block;
            padding: 1rem 4.5rem;
            background-color: u.$blue;
            font-size: 1.25em;
            font-weight: 500;
            color: u.$white;
            border-radius: .5rem;
        }
    }

    .image-text-error {
        color: u.$errorRed;
    }

    .laptop-image-input {
        display: none;
    }

    .exc-icon {
        margin-top: 1rem;

        @include u.breakpoints(xlarge) {
            margin-bottom: 3rem;
            scale: 2;
        }
    }

    .laptop-image {
        width: 100%;
        border-radius: inherit;

        @include u.breakpoints(xlarge) {
            width: 30%;
        }
    }
}

.vertical-padding {
    padding: 5rem 0;

    @include u.breakpoints(xlarge) {
        padding: 7rem 0;
    }
}

.image-error {
    border-color: u.$errorRed;
    background-color: u.$lightPink;
}

.border-less-white {
    border: 0;
    background-color: u.$white;

    .laptop-image {
        border-radius: .5rem;
        margin-bottom: 1rem;
    }

    .reupload {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-side {
            display: flex;
            gap: .5rem;
            align-items: center;

            .uploaded-image-name,
            .uploaded-image-size {
                font-size: .75em;
                font-weight: 400;
            }

            .image-info {
                display: flex;
                flex-direction: column;
                gap: .2rem;
            }

        }
    }

}
