@use '../../scss/util' as u;

.vertical-padding {
    padding: 5rem 0;
}

.upload-image-container {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: u.$lightestBlue;
    border: 2px dashed u.$darkBlue;
    border-radius: .5rem;

    label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .camera-icon {
        margin-bottom: 1rem;
        cursor: pointer;
    }

    .upload-image-text {
        padding: 0 6rem;
        width: fit-content;
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        color: u.$darkBlue;
    }

    .laptop-image-input {
        display: none;
    }

    .laptop-image {
        width: 100%;
        border-radius: inherit;
    }
}